<body class="body">
  <div align=center>
    <%= image_tag "RSVPify-logo.png", :style => "vertical-align: middle;
    width: 200px;
    height: 150px;"  %>
  </div>
  <div class= "well-login">
    <div class="col-md-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="form-group">
          <label class="Sign">Email_id</label><br>
          <%= f.email_field :email, class: 'form-control',autofocus: true %>
        </div>

        <div class="form-group">
          <label class="">Password</label><br>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group">
          <label class="Sign">password_confirmation</label><br>
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
        </div>

        
          <%= f.submit "Sign up", :class => "btn btn-default" %>
        
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>
