<body class="body">
<div align=center>
<%= image_tag "RSVPify-logo.png"  %></div>
<div class= "well-login">
<div class="col-md-12">
<%= form_for(current_user, as: 'user', url: user_path(current_user)) do |f| %>
 <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: 'form-control', autofocus: true %>
  </div>
   <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :lst_name, class: 'form-control', autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", :class => "btn btn-default" %>
  </div>
<% end %>


</div>
</div>
</body>