<!DOCTYPE html>
<html>
<head>
  <title>RsvpifyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="eventbody">
<%= render 'layouts/events_nav' %>
<div class="create">
<h1 class="h1">Create New Event</h1></div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</html>
